@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.loginDiv{
    background-image: url('./Images/firstBg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}