@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.hero{
    font-family: 'Space Grotesk', sans-serif;
}

.loginDiv{
    background-image: url('./Images/firstBg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.donec{
    background-color: rgba(17, 17, 17, 0.5);
    border-radius: 0 500px 500px 0;
}

.get>span[class^=w]:nth-of-type(n+0){
    display:block;
    position:absolute;
    -moz-transform-origin:50% 100%;
    -webkit-transform-origin:50% 100%;
    -o-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%;
    }
 .w0 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }

.w1 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
.w1 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }    
.w2{
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
.w3 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
.w4 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
} 
.w5 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
.w6 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
.w7 {
    -moz-transform: rotate(-1.14rad);
    -webkit-transform: rotate(-1.14rad);
    -o-transform: rotate(-1.14rad);
    -ms-transform: rotate(-1.14rad);
    transform: rotate(-1.14rad);
    width: 21px;
    height: 24px;
    left: 42.7px;
    top: 93.95px;
    }
   /* .get > span:nth-child(1) {
        -webkit-transform: translateX(-1px) translateY(68px) rotate(-15deg);
           -moz-transform: translateX(-1px) translateY(68px) rotate(-15deg);
            -ms-transform: translateX(-1px) translateY(68px) rotate(-15deg);
             -o-transform: translateX(-1px) translateY(68px) rotate(-15deg);
                transform: translateX(-1px) translateY(68px) rotate(-15deg);
    
        -webkit-transition-delay: 0s;
           -moz-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s;
    } */
    
     .get > span:nth-child(1) {
        -webkit-transform: translateX(-3px) translateY(39px) rotate(-13deg);
           -moz-transform: translateX(-3px) translateY(39px) rotate(-13deg);
            -ms-transform: translateX(-3px) translateY(39px) rotate(-13deg);
             -o-transform: translateX(-3px) translateY(39px) rotate(-13deg);
                transform: translateX(223px) translateY(-170px) rotate(-75.76deg);

    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(2) {
        -webkit-transform: translateX(-5px) translateY(10px) rotate(-12deg);
           -moz-transform: translateX(-5px) translateY(10px) rotate(-12deg);
            -ms-transform: translateX(-5px) translateY(10px) rotate(-12deg);
             -o-transform: translateX(-5px) translateY(10px) rotate(-12deg);
                transform: translateX(192px) translateY(-110px) rotate(-58.49deg);;
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }   
    .get > span:nth-child(3) {
        -webkit-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
           -moz-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
            -ms-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
             -o-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
                transform: translateX(150px) translateY(-65px) rotate(-42.89deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }
    .get > span:nth-child(4) {
        -webkit-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
           -moz-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
            -ms-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
             -o-transform: translateX(-9px) translateY(-15px) rotate(-10deg);
                transform: translateX(-9px) translateY(-15px) rotate(-10deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(5) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(55px) translateY(-20px) rotate(-16.71deg);

    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(6) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-4px) translateY(-12px) rotate(-1.67deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(7) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-68px) translateY(-20px)  rotate(13.93deg);

    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(8) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-120px) translateY(-42px) rotate(28.97deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }

    .get > span:nth-child(9) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-165px) translateY(-73px) rotate(42.89deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    } 


    .get > span:nth-child(10) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-205px) translateY(-120px) rotate(58.49deg);
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }
    .get > span:nth-child(11) {
        -webkit-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
           -moz-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
            -ms-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
             -o-transform: translateX(-11px) translateY(-15px) rotate(-20deg);
                transform: translateX(-235px) translateY(-181px) rotate(75.76deg);
    
        -webkit-transition-delay: .04s;
           -moz-transition-delay: .04s;
             -o-transition-delay: .04s;
                transition-delay: .04s;
    }
    .get>span {
        font-size: 26px ;
        transform-origin: bottom;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 300px;
        width: 10px;
        left: 50;
        top: 50;
        position: absolute;
        }
    
.prop{
    background-image:url(./Images/select.png);
    background-position: right;
    background-repeat: no-repeat;
    font-family: poppins;
}

.last{
    background-image: url(./Images/select.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}
/* .selectImg{
    background-image: url();
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
} */

.aboutOne{
    background-image:url(./Images/about\ .png);
    background-position: right; 
    background-repeat: no-repeat;
}

.homes{
    background-image: url(./Images/homes.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.testimonial {
    background-image: url(./Images/testimonials.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

